@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: Vazirmatn;
    src: url('../fonts/vazir/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
        font-family: Shabnam;
        src: url('../fonts/shabnam/Shabnam.eot');
        src: url('../fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
             url('../fonts/shabnam/Shabnam.woff2') format('woff2'),
             url('../fonts/shabnam/Shabnam.woff') format('woff'),
             url('../fonts/shabnam/Shabnam.ttf') format('truetype');
        font-weight: normal;
      }
      
      @font-face {
        font-family: Shabnam;
        src: url('../fonts/shabnam/Shabnam-Bold.eot');
        src: url('../fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
             url('../fonts/shabnam/Shabnam-Bold.woff2') format('woff2'),
             url('../fonts/shabnam/Shabnam-Bold.woff') format('woff'),
             url('../fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
        font-weight: bold;
      }
      
      @font-face {
        font-family: Shabnam;
        src: url('../fonts/shabnam/Shabnam-Thin.eot');
        src: url('../fonts/shabnam/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
             url('../fonts/shabnam/Shabnam-Thin.woff2') format('woff2'),
             url('../fonts/shabnam/Shabnam-Thin.woff') format('woff'),
             url('../fonts/shabnam/Shabnam-Thin.ttf') format('truetype');
        font-weight: 100;
      }
      
      @font-face {
        font-family: Shabnam;
        src: url('../fonts/shabnam/Shabnam-Light.eot');
        src: url('../fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
             url('../fonts/shabnam/Shabnam-Light.woff2') format('woff2'),
             url('../fonts/shabnam/Shabnam-Light.woff') format('woff'),
             url('../fonts/shabnam/Shabnam-Light.ttf') format('truetype');
        font-weight: 300;
      }
html {
    font-size: 10px;
}
*, *::after, *::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body {
    direction: rtl;
    margin: 0;
    font-family: Vazirmatn;
}
a {
    text-decoration: none;
}
Ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper {
    width: 1135;
    margin: 0 auto;
    /* margin-right: auto; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: shabnam;
}
/* .overflow_hidden {
    overflow: hidden;
} */
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
.header {
    padding: 12px 0;
    position: fixed;
    background: #d9edea;
    width: 100%;
    z-index: 30;
}
.header .logo {
    float: right;
}
.header .logo h1 {
    font-size: 1.6rem;
    color: #026b7f;
}
.header .main_menu {
    float: left;
}
.header .main_menu ul li {
    display: inline-block;
}
.header .main_menu ul li a {
    display: block;
    padding: 15px 18px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #21877f;
}
.header .main_menu ul li a:hover {
    color: #026b7f;
    font-size: 1.3rem;
}
.hero_section {
    text-align: center;
    background: #3acec2;
    padding: 97px 0 30px 0;
    color: #ffffff;
}
.hero_section .image img {
    width: 115px;
    height: auto;
}
.hero_section .text p {
    margin: 0;
    font-size: 1.6rem;
}
.hero_section h2 {
    margin: 10px 0;
    font-size: 2.6rem;
}
.content_box {
    padding: 20px 0;
}
.content_box .column {
    float: right;
    padding:5px 20px;
    /* width: 33.33%; */
}
.content_box .wrapper .column:nth-child(1) {
    width: 30%;
}
.content_box .wrapper .column:nth-child(2) {
    width: 40%;
}
.content_box .wrapper .column:nth-child(3) {
    width: 30%;
}
/* .content_box .column_1 , .content_box .column_3 {
    width: 30%;
}
.content_box .column-2 {
    width: 40%;
} */
/* .content_box .column .space {
    padding:0 10px;
} */
.content_box .column h3 {
    color: #026b7f;
    font-size: 1.6rem;
}
.content_box .column p {
    font-size: 1.3rem;
    line-height: 20px;
}
.content_box .column p span {
    font-weight: bold;
}
.content_box .column .text_holder {
    position: relative;
}
.content_box .column .text_top {
    background: rgba(5 42 37 / 80%);
    padding: 8px 0;
    text-align: center;
    color: #ffffff;
    /* padding-top: 4px; */
    position: absolute;
    bottom: 0;
    width: 100%;
}
.content_box .column .text_top h5 {
    text-align: center;
    margin: 0 8;
    padding-top: 5px;
    font-size: 1.6rem;
}
.content_box .column .text_top p {
    padding-top: 0;
    margin: 0 7px;
}
.footer {
    text-align: center;
    background: #d9edea;
    padding: 20px 0;
}
.footer P {
    margin: 0;
    font-size: 1.2rem;
}
@media only screen and (max-width:1080px) {
    .wrapper {
    width: 100%;
    padding: 0 20px;
    }
}
@media only screen and (max-width: 768px) {
    .content_box .wrapper .column:nth-child(1),
    .content_box .wrapper .column:nth-child(2) {
        width: 50%;
    }
    .content_box .wrapper .column:nth-child(3) {
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {
    .header .main_menu, .header .logo {
        float: none;
    }
    .header .logo {
        text-align: center;
    }
    .header .main_menu ul {
        text-align: center;
    }
    .header .main_menu ul li a {
        padding: 3px 18px;
    }
    .hero_section {
        padding: 105px 0 5px 0;
    }
    .content_box .wrapper .column:nth-child(1),
    .content_box .wrapper .column:nth-child(2),
    .content_box .wrapper .column:nth-child(3) {
        width: 100%;
    }
}
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    div.example {
      font-size: 50px;
      padding: 50px;
      border: 8px solid black;
      background: yellow;
    }
}
    @media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 480px) {
   /* Your CSS Here*/
}